.App {
  text-align: center;
}

.App-header {
  background-color: #244242;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-top: 50px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

nav {
  background-color: #2d2e36;
  color: #fff;
  padding: 15px;
  font-size: 22px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; /* Ensure the navbar appears above other content */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav ul li a:hover {
  color: #ca6cc6; /* Change color on hover */
}

.admin-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.admin-header {
  background-color: #87a39f;
  color: rgb(0, 0, 0);
  /* text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000;   */
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th {
  background-color: #f7f7f7;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  color: black;
  font-size: 24px
}

.admin-table td {
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 20px
}

.input {
  width: 20%;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border: 2px solid #3498db; /* Add a border with a cool color */
  border-radius: 5px; /* Rounded corners */
  color: #333; /* Text color */
}


/* Style the input when it's in focus */
/* .input:focus {
  outline: none; 
  border-color: #ea2ae7;
  box-shadow: 0 0 5px #ea2ae7; 
}   */

.startButton {
  background-color: rgb(160, 253, 187);
  border: 1px solid black;
  border-radius: 3px;
  height: 50px;
  width: 25%;
  font-size: 24px;
}

.startButton:hover {
  background-color: rgb(87, 210, 155);
}
.startButton:active {
  transform: scale(0.93);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button {
  background-color: rgb(160, 253, 187);
  border: 1px solid black;
  border-radius: 3px;
  height: 40px;
  width: 8%;
  font-size: 22px;
}

button:hover {
  background-color: rgb(87, 210, 155);
}
button:active {
  transform: scale(0.93);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.removeButton{
  background-color: rgb(255, 122, 122);
  border: 1px solid black;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  font-size: 20px;
}

.removeButton:hover {
  background-color: rgb(254, 6, 6);
  color:white;
}
.removeButton:active {
  transform: scale(0.93);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
